<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Validation</title>
    <script type="text/javascript" src="../lib/angular.min.js"></script>
</head>
<body ng-app="app">
    <h1>Validation</h1>
    
    <!-- 1 -->
		<div ng-controller="formInputs">
			<form name="myForm">
				<p><input type="text" ng-model="nameModel1" name="nameAttr1" required /><br />
				<input type="text" ng-model="nameModel2" name="nameAttr2" required /></p>
				<button type="submit">OK</button>
			</form>
<!-- 			<p>Est-ce que le formulaire est non valide? <span class="info">{{myForm.$invalid}}</span></p>
			<p>Est-ce que le premier champ est valide? <span class="info">{{myForm.nameAttr1.$valid}}</span></p>
			<p>Est-ce que le second champ est valide? <span class="info">{{myForm.nameAttr2.$valid}}</span></p>
			<p>Champ 1: <span class="error">{{myForm.nameAttr1.$error}}</span><br />
			Champ error required: <span class="error">{{myForm.nameAttr1.$error.required}}</span>
			</p> -->
			<p>Pristine: <span class="info">{{myForm.nameAttr1.$pristine}}</span><br />
			Dirty: <span class="error">{{myForm.nameAttr1.$dirty}}</span><br />
			touched: <span class="info">{{myForm.nameAttr1.$touched}}</span><br />
			untouched: <span class="error">{{myForm.nameAttr1.$untouched}}</span><br /></p>
		</div>

    
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
</body>
</html>