<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <script type="text/javascript" src="../lib/angular.min.js"></script>
</head>
<body ng-app="app">
    <h1>Form</h1>
    
    <!-- 1 -->
    <!--<div ng-controller="mainCtrl">
        <input type="text" ng-model="name">
        {{name}}
    </div>-->

    <!-- 2 -->
    <!--<div ng-controller="mainCtrl">
        <input type="checkbox" ng-model="box">
        {{box}}
    </div>-->

    <!-- 3 -->
    <!--<div ng-controller="mainCtrl">
        <input type="checkbox" ng-model="box">
        {{box}}
    </div>-->

    <!-- 4 -->
    <!-- ng-change whait for a function -->
    <!--<div ng-controller="mainCtrl">
        <input type="checkbox" ng-model="box" ng-change="hasChanged()">
        {{box}}
    </div>-->

    <!-- 5 -->
    <!-- ng-checked check the box but don't add "true" inside the var "box" -->
    <!--<div ng-controller="mainCtrl">
        <input type="checkbox" ng-model="box" ng-checked="true">
        {{box}}
    </div>-->

    <!-- 6 -->
    <!--<div ng-controller="mainCtrl">-->
        <!-- when we check the first box ... -->
        <!--<input type="checkbox" ng-model="box1">-->
        <!-- ... the second is automatically checked -->
        <!--<input type="checkbox" ng-model="box2" ng-checked="box1">
    </div>-->

    <!-- 7 -->
    <!--<div ng-controller="mainCtrl">-->
        <!-- create a dropdown input thx to "ng-options" with the names contained in "users" created in the controller -->
        <!--<select ng-model="selectUsers" ng-options="user.name for user in users"></select>
        {{selectUsers}}
    </div>-->

    <!-- 8 -->
    <!--<div ng-controller="mainCtrl">-->
        <!--<select ng-model="selectUsers" ng-options="user.name for user in users"></select>-->
        <!-- if Sebastien is selected the checkbox is checked -->
        <!--<input type="checkbox" ng-model="box" ng-checked="selectUsers.name === 'Sebastien'" >
        {{selectUsers}}
    </div>-->

    <!-- 9 -->
    <div ng-controller="mainCtrl">
        <!-- ng-true-value and ng-false-value whait for a var so if we send a string we need to put it between ''-->
        <input type="checkbox" ng-model="box" ng-true-value="'ok'" ng-false-value="'Nop'">
        {{box}}
    </div>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
</body>
</html>