.red {
    color : red;
}

.bold {
    font-weight: bold;
}

/* si angular le détecte comme valide */
input.ng-valid {
   background-color: lightgreen;
}

/* si on a tapé dedans et qu'il est pas valide [via angular] */
/*input.ng-dirty.ng-invalid {
    background-color: pink;
}*/

/* Si on clique en dehors et qu'il est pas valide */
input.ng-touched.ng-invalid {
    background-color: pink;
}

/* validateur angular quand on définit 1 longueur minimum */
input.ng-invalid-minlength {
    border: 2px solid blue;
}