<section>
    <!--use the var created in the controller to know the item we click on-->
    <nav>
        <ul>
            <li><a href="#/detail/{{prevItem}}"> < Previous </a></li>
            <li><a href="#/detail/{{nextItem}}"> Next > </a></li>
        </ul>
    </nav>
    <article>
        <!--use indexOf on the array "restos" to know the index of the resto that we click on-->
        <h2>{{restos[whichItem].name}} <span>{{restos[whichItem].rating}}/10</span></h2>
        <div>
            <img ng-src="img/{{restos[whichItem].photo}}.jpg" alt="{{restos[whichItem].name}}" width="400" height="250">
        </div><!--
        
     --><div>
            <ul>
                <li><strong>Address :</strong>
                    <ul>
                        <li>{{restos[whichItem].address.street}}, {{restos[whichItem].address.number}}</li>
                        <li>{{restos[whichItem].address.zip}} {{restos[whichItem].address.city}}</li>
                    </ul>
                </li>
                
                <li><strong>Phone :</strong> {{restos[whichItem].phone}}</li>
                <li><strong>Web : </strong><a href="{{restos[whichItem].web}}">{{restos[whichItem].web}}</a></li>
                <li><strong>Cooks type :</strong>
                    <ul>
                        <li ng-repeat="type in restos[whichItem].types">
                            {{type}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </article>
    <nav>
        <ul>
            <li><a href="/"> Retour </a></li>
        </ul>
    </nav>
</section>