<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Exercice</title>
	<script type="text/javascript" src="../lib/angular.min.js"></script>
	<script type="text/javascript" src="../lib/angular-locale_fr-be.js"></script>
</head>
<body ng-app="appBoutique">
	
	<div ng-controller="listController">
		Trier par : 
		<select ng-model="ordre">
			<option value="name">Nom</option>
			<option value="price">Prix</option>
			<option value="size">Taille</option>
		</select>

		<ul>
			<li ng-repeat="product in products | orderBy: ordre">
				{{product.name | uppercase }}<br />
				{{product.size}}, {{product.price | currency }}
			</li>
		</ul>

	</div>


	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
</body>
</html>