<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Validation Exe</title>
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="../lib/angular.min.js"></script>
</head>
<body ng-app="app">
    <h1>Validation Exe</h1>

    <div ng-controller="mainCtrl">
        <nav>
            <!-- list the content of the table and use the $index automatically created with Angular to manage them -->
            <ul>
                <!-- create an "active" class if isActive return true -->
                <li ng-repeat="tab in tabList" ng-class="{active : isActive($index)}">
                    <!-- when we click on a tab, set it to active -->
                    <a href ng-click="setActive($index)">{{tab.title}}</a><a href ng-click="removeTab($index)">X</a>
                </li>
            </ul>
            <div>
                <!--use the "active" var created inside the controller to show the right content of the tab created inside the controller -->
                <p>{{tabList[active].content}}</p>
            </div>
        </nav>

        <h2>Add a new tab :</h2>
        <form name="myForm">
            <!--block to manage errors-->
            <div class="error" ng-if="error && myForm.$invalid">
                <!--if error on title-->
                <div ng-if="myForm.title.$invalid">
                    Error(s) on title:
                    <ul><!-- show the error message related to the title -->
                        <li ng-repeat="(type, error) in myForm.title.$error">{{type}}</li>
                    </ul>
                </div>
                <div ng-if="myForm.content.$invalid">
                    Error(s) on content:
                    <ul>
                        <li ng-repeat="(type, error) in myForm.content.$error">{{type}}</li>
                    </ul>
                </div>
            </div>
            
            <ul>
                <li><label for="title">Title : </label></li>
                <li><input type="text" id="title" name="title" ng-model="tab.title" required ></li>

                <li><label for="content">Content : </label></li>
                <li><input type="text" id="content" name="content" ng-model="tab.content" required ></li>
            </ul>
            <button ng-click="addTab(myForm.$valid)">Ajouter un onglet</button>
        </form>
    </div>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
</body>
</html>