<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Styles</title>

    <link rel="stylesheet" href="css/main.css">

    <script type="text/javascript" src="../lib/angular.min.js"></script>
</head>
<body ng-app="app">
    <h1>Styles</h1>

    <!--<div ng-controller="mainCtrl">
        <span ng-style="{'color' : 'red'}">Texte</span>
    </div>-->

    <!--<div ng-controller="mainCtrl">
        <p ng-class="'red'">Du texte</p>
        <p ng-class="['red', 'bold']">Encore du texte</p>
        <p ng-class="{'red' : false, 'bold' : true}">Et encore du texte</p>
    </div>-->

    <!--<div ng-controller="mainCtrl">
        <input type="checkbox" ng-model="checkboxBold"> Mettre en gras <br>
        <input type="checkbox" ng-model="checkboxRed"> Mettre en rouge

        <p ng-class="{'red' : checkboxRed, 'bold' : checkboxBold}">Et encore du texte</p>
    </div>-->

    <!--<div ng-controller="mainCtrl">
        <select ng-model="selectColor" ng-options="color for color in colors"></select>

        <p ng-style="{'color' : selectColor}">Tourjours du texte</p>
    </div>-->

    <div ng-controller="mainCtrl">
        <form name="myForm">
            <input type="text" required minlength="5" ng-model="username">
        </form>
    </div>
       
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
</body>
</html>