<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Affichage</title>
	<script type="text/javascript" src="../lib/angular.min.js"></script>
	<script type="text/javascript" src="../lib/angular-locale_fr-be.js"></script>
</head>
<body ng-app="app">

	<!-- 1 -->
	<!-- <div ng-controller="mainCtrl">
		<p ng-show="true">Texte 1</p>
		<p ng-show="false">Texte 2</p>

		<p ng-if="true">Texte 3</p>
		<p ng-if="false">Texte 4</p>

		<p ng-hide="true">Texte 5</p>
		<p ng-hide="false">Texte 6</p>
	</div> -->

	<!-- 2 -->
	<!-- <div ng-controller="mainCtrl">
		<input type="text" ng-model="myVar" />
		<ul ng-switch="myVar">
			<li ng-switch-when="coucou">Coucou</li>
			<li ng-switch-when="beuh">Beuh</li>
			<li ng-switch-when="trololo">Trololo</li>
			<li ng-switch-default>Tu dis n'importe quoi</li>
		</ul>
	</div> -->

	<!-- 3 -->
	<!-- <div ng-controller="mainCtrl">
		<label>Produit</label>
		<select ng-model="product">
			<option value="basic">Basic</option>
			<option value="pro">Pro</option>
		</select>

		<div ng-switch="product">
			<div ng-switch-when="pro">30€</div>
			<div ng-switch-when="basic">10€</div>
			<div ng-switch-default>Choisissez un produit</div>
		</div>
	</div> -->

	<!-- EXO -->
	<!-- <div ng-controller="mainCtrl">
		<ul>
			<li ng-repeat="product in products">
				{{product.name}}
				<ul>
					<li ng-repeat="detail in product.details">
						{{detail.size}} - {{detail.price}}
					</li>
				</ul>
			</li>
		</ul>
	</div> -->

	<!-- EXO - suite -->
	<div ng-controller="mainCtrl">
		<select ng-model="produit" ng-options="product.name for product in products"></select>
		
		<select ng-show="produit" ng-model="taille" ng-options="detail.size for detail in produit.details"></select>

		<p ng-show="taille">Prix : {{taille.price | currency}}</p>
	</div>


	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
</body>
</html>