<section class="view-form">
    <nav>
        <ul>
            <li><a href="#/"> Retour </a></li>
        </ul>
    </nav>
    <form ng-submit="addResto()">
        <h2>Add a new restaurant</h2>
        <!--<p id="id-champ">
            <label for="id">ID : </label> <input type="text" name="id">
        </p>-->
        <p>
            <label for="name">Name : </label> <input type="text" name="name" id="name-input" ng-model="resto.name">
        </p>
        <fieldset>
            <legend>Address</legend>
            <p>
                <label for="street">Street : </label> <input type="text" name="street" id="street-input" ng-model="resto.address.street">
            </p>
            <p>
                <label for="number">Number : </label> <input type="text" name="number" id="number-input" ng-model="resto.address.number">
            </p>
            <p>
                <label for="zip">ZIP : </label> <input type="text" name="zip" id="zip-input" ng-model="resto.address.zip">
            </p>
            <p>
                <label for="town">Town : </label> <input type="text" name="town" id="town-input" ng-model="resto.address.town">
            </p>
            <p>
                <label for="country">Country : </label> <input type="text" name="country" id="country-input" ng-model="resto.address.country">
            </p>
        </fieldset>
        <!--<p>
            <label for="cookType">Cook Type : </label> <input type="text" name="cookType" id="cookType-input" value="traditionnelle,pizzeria,française">
        </p>
        <p>
            <label for="quote">Quote [min:0 - max:5] : </label> <input type="text" name="quote" id="quote-input" value="4">
        </p>
        <fieldset>
            <legend>Upload Image</legend>
            <p>
                <label for="pic-title">Title : </label> <input type="text" name="pic-title" id="pic-title-input" value="le sambre et meuse">
            </p>
            <p>
                <label for="pic-link">Link : </label> <input type="text" name="pic-link" id="pic-link-input" value="sambre_et_meuse.jpg">
            </p>
        </fieldset>-->
        <!--<p>
            Quote : <br>
            <input type="radio" name="quote" id="quote-zero-input" value="r0"> <label for="quote-zero-input">0</label>
            <input type="radio" name="quote" id="quote-one-input" value="r1"> <label for="quote-one-input">1</label>
            <input type="radio" name="quote" id="quote-two-input" value="r2"> <label for="quote-two-input">2</label>
            <input type="radio" name="quote" id="quote-three-input" value="r3"> <label for="quote-three-input">3</label>
            <input type="radio" name="quote" id="quote-four-input" value="r4"> <label for="quote-four-input">4</label>
            <input type="radio" name="quote" id="quote-five-input" value="r5"> <label for="quote-five-input">5</label>
        </p>-->
        <!--<p>
            <label for="url">URL : </label> <input type="url" name="url" id="url-input" value="http://www.lesambreetmeuse.be/">
        </p>-->
        <p>
            <input type="submit" value="Send">
        </p>
    </form>
</section>