<!--<section ng-controller="listRestos"> we don't use ng-controller anymore cause we define it in the app.js-->
<section class="view-list">
    <nav>
        <div>
            <label>Search : <input type="text" ng-model="search" placeholder="Grandisimo"></label>
        </div>
        <div>
            Order by :
            <select ng-model="order">
                <option value="name">Name</option>
                <option value="address.town">City</option>
            </select>
            <label>Growing <input type="radio" ng-model="direction" value=""></label>
            <label>Descending <input type="radio" ng-model="direction" value="reverse"></label>
        </div>
        <div>
            <ul>
                <li><a href="#/add"> Add a new restaurant </a></li>
            </ul>
        </div>
    </nav>

    <article ng-repeat="resto in restos | filter : search | orderBy : order:direction">
        <!--use indexOf on the array "restos" to know the index of the resto that we click on-->
        <header>
            <h2>{{resto.name}}</h2> <a href="#/detail/{{restos.indexOf(resto)}}">Show details > </a>
        </header>
        <div>
            <img ng-src="img/{{resto.pictures[0].link}}" alt="{{resto.name}}" width="400" height="250">
        </div><!--
     --><div>
            <ul>
                <li><span>Note : {{resto.rating}}/10</span></li>
                <li><strong>Address :</strong> {{resto.address.town}}</li>
                <li><strong>Cooks type :</strong>
                    <ul>
                        <li ng-repeat="type in resto.cookType">
                            {{type}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </article>

</section>





<!--<article ng-repeat="resto in restos | filter : search | orderBy : order:direction">-->
        <!--use indexOf on the array "restos" to know the index of the resto that we click on-->
        <!--<h2><a href="#/detail/{{restos.indexOf(resto)}}">{{resto.name}}</a> <span>{{resto.rating}}/10</span></h2>
        <div>
            <img ng-src="img/{{resto.photo}}.jpg" alt="{{resto.name}}" width="400" height="250">
        </div><!--
        
        <!--<div>
            <ul>
                <li><strong>Address :</strong>
                    <ul>
                        <li>{{resto.address.street}}, {{resto.address.number}}</li>
                        <li>{{resto.address.zip}} {{resto.address.city}}</li>
                    </ul>
                </li>
                
                <li><strong>Phone :</strong> {{resto.phone}}</li>
                <li><strong>Web : </strong><a href="{{resto.web}}">{{resto.web}}</a></li>
                <li><strong>Cooks type :</strong>
                    <ul>
                        <li ng-repeat="type in resto.types">
                            {{type}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </article>-->