<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Events</title>

    <script type="text/javascript" src="../lib/angular.min.js"></script>
</head>
<body ng-app="app">
    <h1>Events</h1>
    <div ng-controller="mainCtrl">
        <!-- error is a variable created in the controller.js to test if we click on the button or not -->
        <span ng-if="error && myForm.$invalid">Message d'erreur</span>

        <form name="myForm">
            <input type="text" ng-model="name" required>
            <!-- when we click, use a function to test the form thx to the angular $valid var which is true or false -->
            <button ng-click="testForm(myForm.$valid)">Valider</button>
        </form>
    </div>
       
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
</body>
</html>