body {
	margin: 0 auto;
	padding: 0;
	text-align: justify;
}

*{
	font-family: Arial;
}

.container{
	width:960px;
	margin: auto;
	padding: 20px 0;
}

.container div{
	padding-bottom: 20px;
}

a{
	text-decoration: none;
	color:inherit;
}

.info{
	color:#5cd;
	font-weight: 600;
}

.error{
	color:#f55;
	font-weight: 600;
}

.button, button{
	border-radius: 0.5em;
	border: none;
	background-color: #5da;
	padding: 5px;
	width: 100px;
	color:#fff;
}

.button:hover, button:hover{
	background-color: #6ec;
	cursor: pointer;
}
